/* header and menu */

header {
  height: 4em;
  /* margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em; */
}

#menu {
  width: 250px;
  padding: 2em;
}

.left {
  float: left;
  width: 30%;
  text-align: left;
  display: inline-block;
}

.edit-message{
  display: inline-block;
  color: #FF0000;
  border-style: solid 2px;
  border-color: black;
}

.right {
  float: right;
  width: 20%;
  text-align: right;
}

/* main */

.main {
  background-color: yellow;
}

main {
  margin-top: 1em;
  margin-bottom: 1em;
  flex-grow: 1;
}

.widget {
  /* border: solid 0.1em; */
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1em;
  word-wrap: normal;
  min-width: 10vw;
  background-color: #e9f3ff;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 6px, rgba(0, 0, 0, 0.227451) 0px 3px 6px;
  display: inline-block;
}

/* overriding defaults */

h1 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 0;
  font-weight: 700;
}

h2 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 0;
  font-weight: 300;
}

h3 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 0;
  font-weight: 300;
}

p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-weight: 300;
}

button {
  display: inline-block;
  padding: 7px 20px;
	border-radius: 25px;
  color: #4c64d8;
  border: solid 2px #4c64d8;
  transition: .4s;
  background-color: white;
  font-weight: 400;
}

button:hover {
  background: #4c64d8;
  color: white;
}

input {
  margin-right: 1em;
}